body {
    font-family: Arial, sans-serif;
    background-color: #385ea9;
    margin: 0;
    padding: 20px;
  }
  .logo {
    height: 50px;
    vertical-align: middle;
}
  .container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    margin: 0;
    color: #333;
  }
  
  header p {
    color: #666;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #416e9d;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  .approve-button {
    background-color: #26863c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .reject-button {
    background-color: #a92230;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .view-details-button {
    background-color: #366291;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
  }